---
#sass after all
---

$sans-serif: -apple-system, system, sans-serif;
$accent: #F00;

/* General styling */
html {
	font-family: $sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  user-select: none;
  cursor: pointer;
}

input {
	width: 100%;
}

/* header */
header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* search bar */
.search {
	background-color: $accent;
	display: flex;
	justify-content: center;
	margin: 0 auto;

	&--element {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: .5em;
		width: percentage(1/3);
	}
}