---
#sass after all
---

$sans-serif: -apple-system, system, sans-serif;
$accent: #F44336;
$light: #EFEFEF;
$dark: #263238;

/* General styling */
html {
	font-family: $sans-serif;
	box-sizing: border-box;
	color: $dark;
	background-color: $light;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
  user-select: none;
  cursor: pointer;
}

input {
	width: 100%;

	&[type="search"] {
		-moz-appearance: searchfield;
	}
}

a {
	color: #2196F3;

	&:visited {
		color: #3F51B5;
	}
}

/* header */
header {
	background-color: $accent;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h1 {
	text-align: center;

	a {
		color: $dark !important;
		text-decoration: none;
	}
}

/* search bar */
.search {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 56rem;

	&--element {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: .5em;
		width: percentage(1/4);
	}
}

/* notice */

.notice {
	font-size: .8em;
	background-color: #9E9E9E;
	padding: .2rem;
	margin: 0;
	flex: 0;
	display: flex;
	align-items: center;

	&--close {
		width: 1.25em;
		height: 1.25rem;
		margin: 0 .5em;
		cursor: pointer;
		user-select: none;
	}
}


/* content */

.content {
	margin: 1em;
	flex: 1;
}

/* result window */
.result {
	display: flex;
	align-items: center;
	justify-content: center;

	&> * {
		margin: .2em;
	}

	&--number {
		background-color: #fff;
		padding: .2em;
		border-radius: .2em;
	}
}

.graph {
	width: 100% !important;
	height: 20em !important;
}

/* footer */
footer {
	font-size: .8em;
	text-align: center;
}
